.login-bg{
    
    width: 100%;
    background-repeat: no-repeat;
    height: calc(100vh - 122px);
    background-size: cover;
    background-position: center;
}
.color{
    background-color:  #c186b1;
 }
