
<nav class="navbar navbar-expand-lg navbar-dark color">
    <div class="container-fluid">
        <!--<a class="navbar-brand" href="#">Navbar</a>-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" fdprocessedid="z9ulx">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <button  class="btn btn-sm" routerLink="/adminpage">
                  
                    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
                  <!-- <img src="../assets/Images/backbutton.jpg" height="20" weight="20">   -->
                  
                   <span class="glyphicon glyphicon-log-out">Back</span>
                </button>
                <li class="nav-item"><a class="nav-link active color" href="#">
                  <img src="../../assets/Images/home.jpg" width="45" height="35">
                  </a></li>
                </ul>
                <div>
                <button class="btn btn-success ms-auto" routerLink="/addproduct"><span> Add Product</span></button></div>
                <div>
                <button class="ms-auto btn-lg"  routerLink="/login">
                
                    
                   <img src="../assets/Images/logout.jpg" height="25" weight="25"> 
                  
                   <span class="glyphicon glyphicon-log-out"></span>
                    
                </button>
            </div>
        </div></div></nav>
<br>

<table class="table table-bordered table-sripped table-hover">
    <thead>
        <tr class="color ">
           
            <th>ProductId</th>
            <th>ProductName</th>
            <th>ProductImage</th>
            <th>ProductPrice</th>
            <th>ProductDescription</th>
            <th>ProductQuantity</th>
            <th>ProductCategoryId</th>
            <th>Actions</th>
            <!-- <th>Gender</th>
            <th>MobileNumber</th>
            <th>Country</th> -->
        </tr>
    </thead>
    <tbody class="fieldcolor">
        <tr *ngFor="let p of product">
            <td>{{p.pId}}</td>
            <td>{{p.pName}}</td>
            <td><img src="{{p.pImage}}" height="100" width="100"></td>
            <td>{{p.pPrice}}</td>
            <td>{{p.pDesc}}</td>
            <td>{{p.pQuantity}}</td>
            <td>{{p.pcId}}</td>
            <td>
                <button class="btn btn-success" [routerLink]="'/producttable/' + p.pId">Update    </button>


                <button class="btn btn-danger" (click)="deleteProduct(p.pId)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
