<header>
    <div class="navbar navbar-dark shadow-sm color">
        <div class="navbar-brand align-item-center d-flex">
            <!-- <strong style="font-size: 30px;">iCoNnEcT</strong> -->
           &nbsp;&nbsp; <img src="../../assets/Images/home.jpg" width="50" height="50">
            <div class="form-group">
                <!-- <input class="form-control me-sm-2" type="search" placeholder="Search">
                 -->
            </div>
            <!-- <span class="fas fa-search search-icon"></span> -->
        </div>
        <div class="ms-auto btn-lg">          
            <!-- <button >
                <div>
            <img src="../assets/Images/user1.jpg" height="35" weight="35">
            </div>
            </button> -->
            <button   routerLink="/addtocart">
                <div>
            <img src="../assets/Images/cart.webp" height="35" weight="35"> 
            </div>
            </button>
            <!-- <button  routerLink="/login">
                <div>
            <img src="../assets/Images/logout.jpg" height="35" weight="35"> 
            </div>
            </button> -->
        </div>
    </div>
</header>
<ng-container *ngIf="true">
    <div class="container">
        <div clas="card-table">
            <div class="card-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>ProductName</th>
                            <th>ProductImage</th>
                            <th>ProductDescription</th>
                            <th>ProductPrice</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                            <th>Action</th>
                            
                        </tr>
                    </thead>                
                    <tbody>
                        <ng-container *ngIf="productlist.length > 0">
                            <tr *ngFor="let p of productlist;let i = index">
                                <td>{{i+1}}</td> 
                                <td>{{p?.product?.pName}}</td>
                                <td><img src="{{p?.product?.pImage}}" height="100" width="100"></td>
                                <td>{{p?.product?.pDesc}}</td>
                                <td name="price" onchange="calc(this);">{{p?.product?.pPrice}}</td>
                                 <td ><input (onClick)="available()"
                                    type="text" (change)="updateTotalAmount()"
                                   
                                    id="quantity"
                                    [(ngModel)]="p.pQuantity"
                                    name="quantity" placeholder="quantity" 
                                  /></td>
                               
                                <td  [(ngModel)]="totalAmount" >{{p?.product?.pPrice*p.pQuantity}}</td>
                             
                                <td>
                                <button (click)="removeItem(p.cId)" class="btn btn-danger">Delete</button>
                                </td>
                               
                            </tr>
                              <tr>
                              <div class="d-flex justify-content-end">
                                <td ><h5>Total Amount</h5></td>
                                <td ><h3>{{ totalAmount }}</h3></td></div>
                            </tr>
                            </ng-container>
                    </tbody>
                    
                </table>
            
                <div>
                 
                </div>
                <div>
                    <button  type="button"  style="width:30%;background-color: #bc808d;"   class = "btn" (click)="pay()">Place Order</button>&nbsp;&nbsp;&nbsp;
                    <button  type="button"  style="width:20%;background-color: #bc808d;"   class = "btn" routerLink="/productlist">Shop More</button><br>
                </div>
            </div>
        </div>
    </div>   
</ng-container>
<!-- <ng-container *ngIf="false">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <img src="../assets/Images/emptycart.jpg" alt="">
            <h4>Your cart is Empty!</h4>
            <h6>Add item to it now</h6>
            <button class="btn btn-primary" routerLink="/productlist" style="background-color: #9A616D;">Shop Now</button>
        </div>
    </div>
</ng-container> -->