<section class="vh-100 bg-image "
style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
<div class=" mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">
            <h2 class="h1 fw-bold mb-5 text-center "><i>Update Product Here</i></h2>
        

 
 <form #updateForm="ngForm" (ngSubmit)="updateproduct(updateForm.value)" class="update">
   <label class="form-label" for="form3Example4cdg"> ProductId:</label>
    <input type="text" ngModel name="pId" #pId="ngModel" required id="form3Example4cdg" class="form-control form-control-lg"><br>
    
   <label class="form-label" for="form3Example4cdg"> ProductName:</label>
    <input type="text" ngModel name="pName" #pName="ngModel"  required id="form3Example4cdg" class="form-control form-control-lg"><br>

    <label class="form-label" for="form3Example4cdg">ProductImage:</label>
    <input type="text" ngModel name="pImage" #pImage="ngModel" required id="form3Example4cdg" class="form-control form-control-lg"><br>
    <label class="form-label" for="form3Example4cdg">ProductPrice:</label>
    <input type="text" ngModel name="pPrice" #pPrice="ngModel" required id="form3Example4cdg" class="form-control form-control-lg"><br>

    <label class="form-label" for="form3Example4cdg">ProductDescription:</label>
    <input type="text" ngModel name="pDesc" #pDesc="ngModel" required id="form3Example4cdg" class="form-control form-control-lg"><br>

    <label class="form-label" for="form3Example4cdg">ProductQuantity:</label>
    <input type="text" ngModel name="pQuantity" #pQuantity="ngModel" required id="form3Example4cdg" class="form-control form-control-lg"><br>
    <!-- ProductCategoryId:<input type="text" ngModel name="pcId" #pcId="ngModel" required><br><br> -->
    <label class="form-label" for="form3Example4cdg" >ProductCategoryId:</label>
                    <select  ngModel name="pcId" #pcId="ngModel" required
                    id="form3Example4cdg" class="form-control form-control-lg">
                           <option>1
                            <option>2
                            <option>3
                            <option>4
                            <option>8
                  </select> <br>

    <div>
    <button type="submit"  class="btn  btn-md" style="background-color: rgb(206, 126, 173);" >Update Product</button>
    <u><i routerLink="/productable">  Back to product details</i> </u></div>
</form> 
</div> </div></div></div></div></div></section>

<!--<form #updateForm="ngForm" (ngSubmit)="updateproduct(updateForm.value)" class="update">
    ProductId:<input type="text" ngModel name="pId" #pId="ngModel" required><br><br>
    
    ProductName:<input type="text" ngModel name="pName" #pName="ngModel"  required><br><br>
    ProductImage:<input type="text" ngModel name="pImage" #pImage="ngModel" required><br><br>
    ProductPrice:<input type="text" ngModel name="pPrice" #pPrice="ngModel" required><br><br>
    ProductDescription:<input type="text" ngModel name="pDesc" #pDesc="ngModel" required><br><br>
    ProductQuantity:<input type="text" ngModel name="pQuantity" #pQuantity="ngModel" required><br><br>
    ProductCategoryId:<input type="text" ngModel name="pcId" #pcId="ngModel" required><br><br>

    
    <button type="submit"  class="btn btn-primary btn-md" routerLink="/producttable" >save</button>
</form>-->
<!-- <section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="h1 fw-bold mb-5 text-center "><i>Update Product Here</i></h2>

              <form #updateForm="ngForm" (ngSubmit)="updateproduct(updateForm.value)" class="update"> -->


                    <!--<div *ngIf="productname.errors?.['required']&& productname.touched" class="danger">*please enter productname</div>-->
    
                    <!-- <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example1cg">Product Name</label>
                      <input type="text"
                      id="productname"
                      type="text" 
                      ngModel name="pName"
                       #pName="ngModel"  
                       required
                       id="form3Example1cg" class="form-control form-control-lg" />
                       
                    </div>-->
                   <!-- <div *ngIf="productimage.errors?.['required']&& productimage.touched" class="danger">*please enter Imagepath </div>
                    <div *ngIf="password.errors?.['minlength']&& password.touched">*please enter alteast three values with</div>-->
                    <!-- <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3cg">Product Image</label>
                      <input type="text"
                      ngModel name="pImage" 
                      #pImage="ngModel" 
                      required
                       id="form3Example3cg" class="form-control form-control-lg" />
                     
                    </div> -->
    
                    <!--
                      <div *ngIf="contactNumber.errors?.['required']&& contactNumber.touched" class="danger">*please enter your contact number</div>
        <div *ngIf="contactNumber.errors?.['minlength']&& contactNumber.touched">*please enter 10 digits</div>-->
                        <!-- <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example4cg">Product Prize</label>
                      <input type="text" ngModel name="pPrice" #pPrice="ngModel" required
                 
                      id="form3Example4cg" class="form-control form-control-lg" />
                      
                    </div>
     -->
                   <!-- 
                      <div *ngIf="email.errors?.['required']&& email.touched" class="danger">please enter your email</div>
        <!-- <div *ngIf="email.errors?.['minlength'] && email.touched">*pls enter valid email</div> -->
                    <!-- <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example4cdg">Product Description</label>
                      <input type="text" ngModel name="pDesc" #pDesc="ngModel" required
                      id="form3Example4cdg" class="form-control form-control-lg" />
                      
                    </div> -->
    
                    <!--
                      <div *ngIf="address.errors?.['required']&& address.touched" class="danger">please enter your address</div>
                      <div *ngIf="address.errors?.['minlength']&& address.touched">*please enter atleast 3 characters</div>-->
                      <!-- <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example4cdg">Product Quantity</label>
                      <input type="text" ngModel name="pQuantity" #pQuantity="ngModel" required
                      id="form3Example4cdg" class="form-control form-control-lg" />
                      
                    </div> -->
    
                    <!-- <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example4cdg" >ProductCategoryId:</label>
                    <select  ngModel name="pcId" #pcId="ngModel" required
                    id="form3Example4cdg" class="form-control form-control-lg">
                           <option>1
                            <option>2
                            <option>3
                            <option>4
                            <option>5
                  </select> -->
                       <!-- <input ngModel name="pcId" #pcId="ngModel" required
                        id="form3Example4cdg" class="form-control form-control-lg" />-->
                        
                      <!-- </div>
    
                    <div class="d-flex justify-content-center">
                      <button type="submit" value="UpdateProduct" 
                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">UpdateProduct</button>
                    </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->