<!-- <form #updateForm="ngForm" (ngSubmit)="updateuser(updateForm.value)" class="update">
    UserId:<input type="text" ngModel name="uId" #uId="ngModel" required><br><br>
    
    UserName:<input type="text" ngModel name="uName" #uName="ngModel"  required><br><br>
    UserPassword:<input type="text" ngModel name="uPassword" #uPassword="ngModel" required><br><br>
    UserType:<input type="text" ngModel name="uType" #uType="ngModel" required><br><br>
    UserPhone:<input type="text" ngModel name="uPhn" #uPhn="ngModel" required><br><br>
    UserEmail:<input type="text" ngModel name="uEmail" #uEmail="ngModel" required><br><br>
    UserAddress:<input type="text" ngModel name="uAddress" #uAddress="ngModel" required><br><br>

    
    <button type="submit"  class="btn btn-primary btn-md"  >save</button>
</form> -->

<section class="vh-100 bg-image image"
  style="background-image: url('../assets/Images/background.jpg');">
  <div class="mask d-flex align-items-center h-100 ">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="h1 fw-bold mb-5 text-center "><i>Update User Here</i></h2>

              <form #updateForm="ngForm" (ngSubmit)="updateuser(updateForm.value)" class="update">

                <!--<div *ngIf="productname.errors?.['required']&& productname.touched" class="danger">*please enter productname</div>-->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cg">User Id</label>
              <input type="text" ngModel name="uId" #uId="ngModel" required
              id="form3Example4cg" class="form-control form-control-lg" />
              
            </div>
                <div class="form-outline mb-4"> 
                </div>
               <!-- <div *ngIf="productimage.errors?.['required']&& productimage.touched" class="danger">*please enter Imagepath </div>
                <div *ngIf="password.errors?.['minlength']&& password.touched">*please enter alteast three values with</div>-->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg">User Password</label>
                  <input type="text" ngModel name="uPassword" #uPassword="ngModel" required
                   id="form3Example3cg" class="form-control form-control-lg" />
                 
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cdg" >User Type:</label>
                <select type="text" ngModel name="uType" #uType="ngModel"  required
                id="form3Example4cdg" class="form-control form-control-lg">
                       <option>User
                        <!-- <option>Admin       -->
              </select>

              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example4cg">User Phone</label>
          <input type="text" ngModel name="uPhn" #uPhn="ngModel" required
          id="form3Example4cg" class="form-control form-control-lg" />
          
        </div>
                <!--
                  <div *ngIf="contactNumber.errors?.['required']&& contactNumber.touched" class="danger">*please enter your contact number</div>
    <div *ngIf="contactNumber.errors?.['minlength']&& contactNumber.touched">*please enter 10 digits</div>-->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example4cg">User Email</label>
                  <input type="text" ngModel name="uEmail" #uEmail="ngModel" required
             
                  id="form3Example4cg" class="form-control form-control-lg" />
                  
                </div>

               <!-- 
                  <div *ngIf="email.errors?.['required']&& email.touched" class="danger">please enter your email</div>
    <!-- <div *ngIf="email.errors?.['minlength'] && email.touched">*pls enter valid email</div> -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cdg">User Address</label>
                  <input type="text" ngModel name="uAddress" #uAddress="ngModel" required
                  id="form3Example4cdg" class="form-control form-control-lg" />
                  
                </div>

                <!--
                  <div *ngIf="address.errors?.['required']&& address.touched" class="danger">please enter your address</div>
                  <div *ngIf="address.errors?.['minlength']&& address.touched">*please enter atleast 3 characters</div>-->

                
                   <!-- <input ngModel name="pcId" #pcId="ngModel" required
                    id="form3Example4cdg" class="form-control form-control-lg" />-->
                    
                  </div>

                <div class="d-flex justify-content-center">
                  <button type="submit" value="updateuser" 
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Update User</button>
                </div>
                <div><u><i routerLink="/cruduser">  Back to user details</i> </u></div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>