
  

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" fdprocessedid="z9ulx">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">

            <a class="nav-link active" href="#">
              <img src="../assets/Images/ecart.jpg" width="60" height="auto">
              Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li> -->
          <!--<li class="nav-item">
            <a class="nav-link" routerLink="employee">Employee</a>
          </li>-->
          
          
          <!--<li class="nav-item btn btn-primary">
            <a class="nav-link" routerLink="addemployee"> AddEmployee</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>-->
        <!-- </ul>
        <form class="d-flex">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link " routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="register">Register</a>
          </li>
        </ul> -->
          <!-- <input class="form-control me-sm-2" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button> -->
        <!-- </form>
      </div>
    </div>
  </nav>
  <div class="container-fluid login-bg " style="background-image:url(https://png.pngtree.com/thumb_back/fw800/background/20210609/pngtree-3d-render-online-shopping-with-mobile-and-bag-image_727266.jpg);" >
     <div class="row">
        
        <div class="col-8 text-left  pt-6">
            <h4 class="text-left ">Form To Register</h4>
            <form (ngSubmit)="onSubmit()" class="px-5 w-50 ml-5 ">
              <div *ngIf="name.errors?.['required']&& name.touched" class="danger">please enter name</div>
    <div *ngIf="name.errors?.['minlength']&& name.touched">*please enter alteast three charecters</div>
    
              <div class="form-group">
                <label>Name*</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  [(ngModel)]="userObj.uName"
                  name="name"
                  #name="ngModel"
                  required
                  minlength="3"
                 
                  placeholder="user name"
                />
              </div>
              
              <div *ngIf="password.errors?.['required']&& password.touched" class="danger">please enter password </div>
    <div *ngIf="password.errors?.['minlength']&& password.touched">*please enter alteast three values with</div>
              <div class="form-group">
                <label>Password*</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  [(ngModel)]="userObj.uPassword"
                  name="password"
                  #password="ngModel"
                  required
                  minlength="3"
                  maxlength="10"
                  placeholder="password"
                />
              </div>
              <div *ngIf="contactNumber.errors?.['required']&& contactNumber.touched" class="danger">please enter contact number</div>
    <div *ngIf="contactNumber.errors&& contactNumber.touched">*pls enter 10 digits</div>
              <div class="form-group">
                <label>Contact Number*</label>
                
                <input
                  type="tel"
                  class="form-control"
                  id="contactNumber"
                  [(ngModel)]="userObj.uPhn"
                  name="contactNumber"
                  pattern="^\d{10}$"
                  #contactNumber="ngModel"
                  required
                  minlength="3"
                  maxlength="10"
                  placeholder="contact number"
                />
              </div>
              <div *ngIf="email.errors?.['required']&& email.touched" class="danger">please enter email</div>
    <div *ngIf="email.errors?.['minlength'] && email.touched">*pls enter valid email</div> 
              <div class="form-group">
                <label>Email*</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  [(ngModel)]="userObj.uEmail"
                  name="email"
                  #email="ngModel"
                  required
                   
                  placeholder="email"
                />
              </div>
              <div *ngIf="address.errors?.['required']&& address.touched" class="danger">please enter address</div>
    <!-- <div *ngIf="address.errors?.['minlength'] && address.touched">*pls enter valid email</div> 
              <div class="form-group">
                <label>Address*</label>
                <input
                  type="text"
                  class="form-control"
                  id="address"
                  [(ngModel)]="userObj.uAddress"
                  name="address"
                  #address="ngModel"
                  required
                   
                  placeholder="adress"
                />
              </div>
              <br>
              <br>
              <button class="btn btn-success" type="submit" >Register</button>
              <div class="message">
                <div class="success" id="success">Your Successfully Registered..</div>
                <div class="danger" id="danger">Feilds can't be Empty!</div>
              </div> 
            
            </form>
        </div>
        <div class="col-4">
            &nbsp;
        </div>
    </div>
</div>
 <div class="success-msg" *ngIf="onSuccess">Successfully Registered..</div> 
 -->


 <nav class="navbar navbar-expand-lg navbar-dark color">
  <div class="container-fluid">
    <!--<a class="navbar-brand" href="#">Navbar</a>-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" fdprocessedid="z9ulx">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">

          <a class="nav-link active color" href="#">
            <img src="../../assets/Images/home.jpg" width="45" height="35">
            Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>

      </ul>
      <form class="d-flex">
        <ul class="navbar-nav ms-auto">
          <!-- <li class="nav-item">
            <a class="nav-link text-white" routerLink="login">Login</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link text-white" routerLink="register">Register</a>
          </li> -->
        </ul>

      </form>
    </div>
  </div>
</nav>
<section  style="background-color: #3d2018">
  <div class="">
    <div class="container-fluid">
      <div class="row ">
        <div class="col-8 d-flex djustify-content-center imgclass">    
            
          <!-- <img src="../../assets/image/register.jpeg"  class="imgclass" alt="" > -->
        </div>
        <div class="col-4 p-0">
          <div class="card" style="border-radius: 15px; background-color: thistle;">
            <div class="card-body p-5">
              <h2 class="h1 fw-bold mb-5 text-center ">Register Here</h2>

              <form (ngSubmit)="onSubmit()">

                <div *ngIf="name.errors?.['required']&& name.touched" class="text-danger">*please enter your name</div>
                <div *ngIf="name.errors?.['minlength']&& name.touched">*please enter alteast three charecters</div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg">User Name</label>
                  <input type="text" id="name" [(ngModel)]="userObj.uName" name="name" #name="ngModel" required
                    minlength="3" maxlength="10" id="form3Example1cg" class="form-control form-control-lg" />
                </div>
                <div *ngIf="password.errors?.['required']&& password.touched" class="text-danger">*please enter password
                </div>
                <div *ngIf="password.errors?.['minlength']&& password.touched">*please enter alteast three values with
                </div>
                <div class="form-outline mb-4">

                  <label class="form-label" for="form3Example3cg">Password</label>
                  <input type="password" id="password" [(ngModel)]="userObj.uPassword" name="password" id="password"
                    #password="ngModel" required minlength="3" maxlength="10" id="form3Example3cg"
                    class="form-control form-control-lg" />
                </div>

                <div class="form-outline mb-4">
                  <div *ngIf="contactNumber.errors?.['required']&& contactNumber.touched" class="text-danger">*please
                    enter your contact number</div>
                  <div *ngIf="contactNumber.errors?.['minlength']&& contactNumber.touched">*please enter 10 digits</div>
                  <label class="form-label" for="form3Example4cg">Contact Number</label>
                  <input type="text" id="contactNumber" [(ngModel)]="userObj.uPhn" name="contactNumber"
                    #contactNumber="ngModel" required minlength="3" maxlength="10" id="form3Example4cg"
                    class="form-control form-control-lg" />
                </div>

                <div class="form-outline mb-4">
                  <div *ngIf="email.errors?.['required']&& email.touched" class="text-danger">*please enter your email
                  </div>
                  <!-- <div *ngIf="email.errors?.['minlength'] && email.touched">*pls enter valid email</div> -->
                  <label class="form-label" for="form3Example4cdg">Email</label>
                  <input type="email" id="email" [(ngModel)]="userObj.uEmail" name="email" #email="ngModel" required
                    id="form3Example4cdg" class="form-control form-control-lg" />
                </div>

                <div class="form-outline mb-4">
                  <div *ngIf="address.errors?.['required']&& address.touched" class="text-danger">*please enter your
                    address</div>
                  <div *ngIf="address.errors?.['minlength']&& address.touched">*please enter atleast 3 characters</div>
                  <label class="form-label" for="form3Example4cdg">Address(with State,City,Street,H-No,Pincode)</label>
                  <input type="text" id="address" [(ngModel)]="userObj.uAddress" name="address" #address="ngModel"
                    required minlength="3" maxlength="50" id="form3Example4cdg" class="form-control form-control-lg" />

                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>
                
                   
                <div class="success-msg" *ngIf="onSuccess">Successfully Registered..</div> 

                 <p class="text-center text-muted mt-5 mb-0">Have already an account?
                  <u routerLink="/login" style="color: #393f81">Login here</u>
                </p>  

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>